.NavBar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

li {
  padding: 20px;
  display: inline-block;
}

a {
  color: white;
}

li a:hover {
  background-color: aquamarine;
}
